 <html>
    <head>
        <!-- link to the Todo MVC index.css file -->
        <link rel="stylesheet" href="/static/index.css">
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
        ></script>
        <script src='{{url_for("static", filename="todo.js")}}'></script>
        <title>Realtime Todo List</title>
    </head>

    <body>
        <section class="todoapp">
            <header class="header">
                <h1>Todos</h1>
                <input class="new-todo" placeholder="What needs to be done?" 
                    autofocus="" onkeypress="addItem(event)">
            </header>

            <section class="main">
                <ul class="todo-list"></ul>
            </section>

            <footer class="footer"></footer>  
        </section>
        <script>
            {% for task in tasks %}
            appendToList({{ task.as_dict()|tojson }});
            {% endfor %}
        </script>
    </body>
    </html>